# eduardo criou a estrutura do repositorio, adicionou os arquivos readme, gitignore e "eduardo-carneiro.txt".
# Atualização por paizim: adicionou paizim.txt
# atualização de ladstone: add ladstone.txt# luiz-vitor criou o arquivo luiz-vitor.txt
